---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: esphome
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.12.1
            env:
              TZ: "${TIMEZONE}"
              ESPHOME_DASHBOARD_USE_PING: true

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        ports:
          http:
            port: &esphome-port 6052

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Control your ESP8266/ESP32 based devices
          gethomepage.dev/group: Home Automation
          gethomepage.dev/icon: sh-esphome.svg
          gethomepage.dev/name: ESPHome
          gethomepage.dev/app: esphome
        hostnames:
          - esphome.${SECRET_OG_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *esphome-port

    persistence:
      config:
        enabled: true
        existingClaim: *app
