---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kopia
spec:
  path: ./kubernetes/apps/storage/kopia/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: volsync
      namespace: storage
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: storage
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
