---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./httproute-dashboard.yaml
  - ./httproute-objectstore.yaml
  - ./servicemonitor.yaml
