---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app silverbullet
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: zefhemel/silverbullet
              tag: 2.3.0
            env:
              TZ: ${TZ}
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: main
        ports:
          http:
            port: 3000
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /space

    route:
      app:
        hostnames:
          - notes.${SECRET_OG_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: http
