---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app sonarr
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        SONARR__API_KEY: "{{ .SONARR_API_KEY }}"
  dataFrom:
  - extract:
      key: *app
