---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: smokeping-config-v1
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Mi
  storageClassName: ceph-block
