---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smokeping
spec:
  chartRef:
    kind: OCIRepository
    name: smokeping
  interval: 1h

  values:
    controllers:
      smokeping:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/linuxserver/smokeping
              tag: 2.9.0
            env:
              TZ: ${TZ}
            resources:
              requests:
                cpu: 15m
                memory: 128Mi
              limits:
                memory: 192Mi
    service:
      app:
        controller: smokeping
        ports:
          http:
            port: 80
    routes:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https

    persistence:
      config:
        enabled: true
        existingClaim: smokeping-config-v1
      data:
        existingClaim: ${VOLSYNC_CLAIM}
