---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./homepage/ks.yaml
  - ./echo/ks.yaml
  - ./esphome/ks.yaml
