---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "${APP}-volsync"
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    name: "${APP}-volsync-secret"
    template:
      engineVersion: v2
      data:
        KOPIA_FS_PATH: /repository
        KOPIA_PASSWORD: "{{ .password }}"
        KOPIA_REPOSITORY: filesystem:///repository
  dataFrom:
  - extract:
      key: kopia
