---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name rook-ceph-dashboard
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        password: "{{ .password }}"
  dataFrom:
  - extract:
      key: rook-ceph-dashboard
