---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rook-ceph
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  interval: 1h
  releaseName: rook-ceph
  values:
    crds:
      enabled: true
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      enableCephfsDriver: false
      enableCephfsSnapshotter: false
      enableLiveness: true
      serviceMonitor:
        enabled: true
    monitoring:
      enabled: true
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits: {}
