---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg
  namespace: database
spec:
  interval: 30m
  path: ./kubernetes/apps/database/cloudnative-pg/app
  dependsOn:
    - name: external-secrets-store
      namespace: external-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: database
  wait: true
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg-cluster
  namespace: database
spec:
  interval: 30m
  path: ./kubernetes/apps/database/cloudnative-pg/cluster
  dependsOn:
    - name: cloudnative-pg
    - name: external-secrets-store
      namespace: external-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: database
  wait: true
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
