---
# yaml-language-server: $schema=https://kubernetes-schemas.nerdz.cloud/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app homepage
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .SABNZBD_API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_KOPIA_PASSWORD: "{{ .password }}"
        HOMEPAGE_VAR_UPTIMEROBOT_TOKEN: "{{ .UPTIMEROBOT_KEY }}"
  dataFrom:
    - extract:
        key: kopia
    - extract:
        key: radarr
    - extract:
        key: sabnzbd
    - extract:
        key: sonarr
    - extract:
        key: uptimerobot
