---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      homepage:
        serviceAccount:
          identifier: homepage
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.9.0
            env:
              TZ: ${TZ}
              HOMEPAGE_ALLOWED_HOSTS: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
              LOG_LEVEL: debug
            envFrom:
              - secretRef:
                  name: homepage
            resources:
              requests:
                cpu: 15m
                memory: 200M
              limits:
                memory: 2G
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3000
    route:
      app:
        hostnames:
          - *host
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
    serviceAccount:
      homepage: {}
    rbac:
      bindings:
        homepage:
          type: ClusterRoleBinding
          roleRef:
            kind: ClusterRole
            name: homepage
          subjects:
            - identifier: homepage
      roles:
        homepage:
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: [namespaces, pods, nodes]
              verbs: [get, list]
            - apiGroups: [extensions, networking.k8s.io]
              resources: [ingresses]
              verbs: [get, list]
            - apiGroups: [metrics.k8s.io]
              resources: [nodes, pods]
              verbs: [get, list]
            - apiGroups: [apiextensions.k8s.io]
              resources: [customresourcedefinitions/status]
              verbs: [get]
            - apiGroups: [gateway.networking.k8s.io]
              resources: [httproutes, gateways]
              verbs: [get, list]

