---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./openebs/ks.yaml
  - ./volsync/ks.yaml
  - ./kopia/ks.yaml
